<h1>Ark Contract Execution Services (ACES)</h1>

<p>ACES allows users to execute services directly from Ark transactions using the SmartData bridge
    field and encoded listeners services provided by ACES.</p>

<h2>Available Services</h2>


<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Ethereum Contract Deployment</h4>
            </div>
            <div class="panel-body" style="height:200px">
                <p>With this service, users are able to deploy Ethereum code contracts directly to the Ethereum
                    network using Ark. Users supply compiled solidity compiled contract code to the service and
                    pay for deployment using an Ark wallet.</p>
                <p>
                    <a class="btn btn-primary"
                       [routerLink]=" ['./eth-contract-deployment'] "
                       routerLinkActive="active"
                       [routerLinkActiveOptions]= "{exact: true}">
                        Start Now
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Ethereum Transfer</h4>
            </div>
            <div class="panel-body" style="height:200px">
                <p>With this service, users are able to send a specified amount of Eth to a target Eth account
                    using Ark.</p>
                <p>
                    <a class="btn btn-primary"
                       [routerLink]=" ['./eth-transfer'] "
                       routerLinkActive="active"
                       [routerLinkActiveOptions]= "{exact: true}">
                        Start Now
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">

    </div>
</div>
