<div class="row service-stats">
    <div class="col-sm-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bolt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div [hidden]="!isLoading" class="huge">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div [hidden]="isLoading" class="huge">{{capacity}}</div>
                        <div>Service Capacity</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bank fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div [hidden]="!isLoading" class="huge">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div  [hidden]="isLoading" class="huge">{{flatFeeArk}}</div>
                        <div>Flat Fee</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bank fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div [hidden]="!isLoading" class="huge">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div [hidden]="isLoading" class="huge">{{percentFee}}</div>
                        <div>Percent Fee</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-heartbeat fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div [hidden]="!isLoading" class="huge">
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </div>
                        <div [hidden]="isLoading" class="huge">{{status}}</div>
                        <div>Service Status</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>