<app-page-loading *ngIf="loading"></app-page-loading>

<div *ngIf="!loading">
    <h1>Ethereum Transfer Contract</h1>

    <div class="row">
        <div class="col-xs-10">
            <div class="panel" [class.panel-yellow]="!(completed || failed || rejected)"
                 [class.panel-green]="completed"
                 [class.panel-red]="failed || rejected">
                <div class="panel-heading">
                    <div class="huge">
                        <strong>Status:</strong>
                        <span *ngIf="completed">
                        Contract Executed
                    </span>
                        <span *ngIf="failed">
                        Contract Failed
                    </span>
                        <span *ngIf="rejected">
                        Contract Rejected
                    </span>
                        <span *ngIf="!(completed || rejected || failed)">
                        Listener running <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                        <br />

                        <strong>Token:</strong> {{ contract.token }}<br />

                        <strong>Last Updated:</strong> {{ lastUpdated }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <img class="img-responsive" src="https://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data={{contract.token}}&amp;qzone=1&amp;margin=0&amp;size=140x140&amp;ecc=L" alt="qr code" />
        </div>
    </div>

    <div *ngIf="!(completed || failed || rejected)" class="panel panel-red">
        <div class="panel-heading">
            Ark Payment Required
        </div>
        <div class="panel-body">
            <p>Execute your contract by sending an Ark transaction of the required amount to the Service Ark Address,
                including the SmartBridge Text to identify this contract:</p>

            <p><strong>Service Ark Address:</strong><br />
                {{ contract.serviceArkAddress }}
                <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="contract.serviceArkAddress">Copy</a></p>

            <p><strong>Required Ark Amount:</strong><br />
                {{ contract.requiredArkAmount }}
                <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="contract.requiredArkAmount">Copy</a></p>

            <p><strong>SmartBridge Text:</strong><br />
                {{ contract.token }}
                <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="contract.token">Copy</a></p>
        </div>
    </div>

    <div *ngIf="completed">
        <table class="table">
            <tr>
                <th>Eth Transaction Hash</th>
                <td>{{ contract.ethTransactionHash }}
                    <a class="btn btn-xs btn-default" href="https://ropsten.etherscan.io/tx/{{ contract.ethTransactionHash }}">View</a>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="completed || failed || rejected">
        <h2>Return Ark Transaction</h2>
        <table class="table">
            <tr>
                <th>Return Ark Amount</th>
                <td>{{ contract.returnArkAmount }}</td>
            </tr>
            <tr>
                <th>Return Ark Address</th>
                <td>{{ contract.returnArkAddress }}
                    <a class="btn btn-xs btn-default" href="https://explorer.ark.io/address/{{ contract.returnArkAddress }}">View</a>
                </td>
            </tr>
            <tr>
                <th>Return Ark Transaction Id</th>
                <td>{{ contract.returnArkTransactionId }}
                    <a class="btn btn-xs btn-default" href="https://explorer.ark.io/tx/{{ contract.returnArkTransactionId }}">View</a>
                </td>
            </tr>
        </table>
    </div>


    <h2>Ethereum Contract Data</h2>

    <table class="table">
        <tr>
            <th>Token</th>
            <td>
                {{ contract.token }}
            </td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ contract.createdAt }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ contract.status }}</td>
        </tr>
        <tr>
            <th>Ark/Eth</th>
            <td>{{ contract.arkPerEthExchangeRate }}</td>
        </tr>
        <tr>
            <th>Flat Fee Ark</th>
            <td>{{ contract.arkFlatFee }}</td>
        </tr>
        <tr>
            <th>Percent Fee Ark</th>
            <td>{{ contract.arkFeePercent }}</td>
        </tr>
        <tr>
            <th>Total Fee Ark</th>
            <td>{{ contract.arkFeeTotal }}</td>
        </tr>
        <tr>
            <th>Required Ark Cost</th>
            <td>{{ contract.requiredArkAmount }}</td>
        </tr>
        <tr>
            <th>Recipient Eth Address</th>
            <td>{{ contract.recipientEthAddress }}</td>
        </tr>
    </table>
</div>
