<app-page-loading *ngIf="loading"></app-page-loading>

<div *ngIf="!loading">
    <h1>Ethereum Contract Deployment Service</h1>

    <p>With this service, users are able to deploy Ethereum code contracts directly to
        the Ethereum network using Ark. Users supply compiled solidity contract code to the
        service and pay for deployment using an Ark wallet.</p>

    <p>Ethereum contract code and ABI interface can be obtained by compiling solidity code.
        If you are new to ethereum smart contracts, you can use the
        <a target="_blank" href="https://remix.ethereum.org">Remix Solidity Web Compiler
            <i class="fa fa-external-link"></i></a> to obtain the required values for this service:
    </p>

    <ul>
        <li>Enter the desired solidity code in the IDE editor window.</li>
        <li>Choose "Contract details (bytecode, interface etc.)" to expand compiled information.</li>
        <li>Copy bytecode and ABI interface JSON into the inputs below.</li>
        <li>If contract has constructor parameters, enter them below in a JSON array.</li>
    </ul>

    <app-service-info
            [isLoading]='serviceInfoLoading'
            [capacity]='serviceInfo.capacity'
            [flatFeeArk]='serviceInfo.flatFeeArk'
            [percentFee]='serviceInfo.percentFee'
            [status]='serviceInfo.status'></app-service-info>

    <app-eth-testnet-warning></app-eth-testnet-warning>


    <h2>Create Ethereum Contract Deployment Contract</h2>

    <form #contractForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="returnArkAddress">Return Ark Address</label>
            <input type="text" class="form-control" id="returnArkAddress" required
                   [(ngModel)]="model.returnArkAddress" name="returnArkAddress" #returnArkAddress="ngModel">
            <div *ngIf="! returnArkAddress.pristine && returnArkAddress.invalid"
                 class="alert alert-danger">
                Please enter a valid address.
            </div>
            <p class="help-block">Enter your Ark wallet address to return any un-used amount to.</p>
        </div>

        <div class="form-group">
            <label for="abiJson">Ethereum Contract ABI Json (Interface)</label>
            <input type="text" class="form-control" id="abiJson" required
                   [(ngModel)]="model.abiJson" name="abiJson" #abiJson="ngModel">
            <div *ngIf="! abiJson.pristine && abiJson.invalid"
                 class="alert alert-danger">
                Please enter a valid JSON string.
            </div>
            <p class="help-block">Enter API json data output by your solidity compiler.</p>
        </div>

        <div class="form-group">
            <label for="code">Ethereum Contract Code (Bytecode)</label>
            <input type="text" class="form-control" id="code" required
                   [(ngModel)]="model.code" name="code" #code="ngModel">
            <div *ngIf="! code.pristine && code.invalid"
                 class="alert alert-danger">
                Please enter a valid contract code string.
            </div>
            <p class="help-block">Enter compiled code data output by your solidity compiler.</p>
        </div>

        <div class="form-group">
            <label for="paramsJson">Ethereum Contract Params Json</label>
            <input type="text" class="form-control" id="paramsJson" required
                   [(ngModel)]="model.paramsJson" name="paramsJson" #paramsJson="ngModel">
            <div *ngIf="! paramsJson.pristine && paramsJson.invalid"
                 class="alert alert-danger">
                Please enter a valid JSON string.
            </div>
            <p class="help-block">Enter params to your contract as a json array. Example: <code>["Param 1", "Param 2"]</code></p>
        </div>

        <div class="form-group">
            <label for="abiJson">Gas Limit</label>
            <input type="text" class="form-control" id="gasLimit" required
                   [(ngModel)]="model.gasLimit" name="gasLimit" #gasLimit="ngModel">
            <div *ngIf="! gasLimit.pristine && gasLimit.invalid"
                 class="alert alert-danger">
                Please enter a valid gas limit integer.
            </div>
            <p class="help-block">Enter the maximum amount of gas that should be used when deploying your code contract.
                If the contract deployment runs out of gas, it will fail. You should run a gas estimator to find
                out the deployment cost of your ethereum contract.
            </p>
        </div>

        <button *ngIf="!submitted" [disabled]="!contractForm.form.valid" type="submit" class="btn btn-primary">
            Submit Contract
        </button>

        <button *ngIf="submitted" class="btn btn-default disabled">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            Submitting...
        </button>

        <div *ngIf="error" class="alert alert-danger">
            <strong>Error Occurred!</strong> An error occurred submitting your contract, please try again later.
        </div>

    </form>
</div>
